# Managed by Ansible
cluster.name: {{ elk_cluster_name | default('lab-cluster') }}
node.name: {{ inventory_hostname }}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: 0.0.0.0
network.publish_host: {{ lab_ip }}
http.host: 0.0.0.0
http.port: 9200

{% if elastic_nodes | length == 1 %}
discovery.type: single-node
{% else %}
discovery.seed_hosts:
{% for node in elastic_nodes %}
  - {{ node.ip }}:9300
{% endfor %}
{% if inventory_hostname == elastic_nodes[0].name %}
cluster.initial_master_nodes:
  - {{ elastic_nodes[0].name }}
{% endif %}
{% endif %}

{% if node_roles is not none %}
node.roles: {{ node_roles | to_json }}
{% endif %}

xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: certs/http.p12

xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.keystore.path: certs/elastic-certificates.p12
xpack.security.transport.ssl.truststore.path: certs/elastic-certificates.p12
